# 项目排除路径
/01-three-base/node_modules/
/01-three-base/.parcel-cache/
/01-three-base/.cache/
/01-three-base/dist/
/02-full/node_modules/
/02-full/.parcel-cache/
/02-full/.cache/
/02-full/dist/
/03-physics/node_modules/
/03-physics/.parcel-cache/
/03-physics/.cache/
/03-physics/dist/
